/* 헤더 CSS */

.navbar {
    justify-content: space-between;
    display: flex;
    column-gap: 750px;
    height : 102px;
    width: 1280px;
    margin-left: 320px;
    margin-right: 320px;
}

.textButton {
    height:inherit;
    width:395px;
    display: flex;
}

.ButtonWhere {
    width:145px;
    height:inherit;
    align-content: center;
}

.headerContent {
    position: absolute;
    display: flex;
    height: 798px;
    width:1280px;
    margin-left: 320px;
    margin-right: 320px;
}

.headerMain {
    width: 695px;
    height: 336px;
    margin-top:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:40px;
}

/* 헤더 이미지 설정 */

.imgLogo {
    height: inherit;
    width : 130px;
    align-content: center;
}

.imgCat {
    height: 766px;
    width: 415px;
    margin-left:170px;
    margin-top: 32px;
}

/* 헤더 버튼 설정 */

.downloadButton1 {
    width: 140px;
    height: 50px;
    border-radius: 40px;
    background-color: #D97652;
    border: none;
    font-family: 'Pretendard-Regular';
}

.downloadButton2 {
    width: 140px;
    height: 50px;
    border-radius: 40px;
    background-color: #D97652;
    border: none;
}

.buttonText {
    color:white;
    font-size:16px;
    line-height: 20px;
    text-align: center;
    font-family: 'Pretendard-Bold';
}

/* 헤더 부분 텍스트 설정 위에서부터 아래쪽으로 순차적으로 진행 */

.textBack {
    width : 205px;
    height : inherit;
    display: flex;
    gap:30px;
    align-items: center;
    font-family: 'Pretendard-Regular';
    margin-right: 50px;
    font-size: 16px;
    line-height: 20px;
}

.headingP1 {
    font-family: 'Pretendard-Bold';
    width: 695px;
    height: 120px;
    font-size: 47px;
    line-height: 60px;
}

.headingP2 {
    font-family: 'Pretendard-Regular';
    width: 420px;
    height: 86px;
    font-size: 16px;
    line-height: 20px;
}