/* Main 스타일 */

/* mainP1, mainP2, imgBigCat을 배치하기 위해 만든 섹션 */
.firstPSec {
    margin-top: 80px;
    width: 1280px;
    justify-content: space-between;
    gap:110px;
    display: flex;
    flex-direction:row;
}

/* mainHead와 mainP3을 배열하기 위한 섹션 */
.secondPSec {
    margin-top: 120px;
    width: 875px;
    height:140px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

/* 위치 정보가 나와있는, mainP4와 mainP5 그리고 지도를 배열하기 위한 섹션 */
.mapSec {
    width: 1280px;
    height: 653px;
    margin-top: 68px;
}

/* P1 섹션의 제목과 본문의 위치를 조정하기 위한 div 설정 */
.mainP1Area {
    margin-top: 92px;
    width: 510px;
    height:205px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap:30px;
}


/* Main 이미지 설정 */

/* P1 섹션의 큰 고양이 이미지 */
.imgBigCat {
    height: 390px;
    width: 660px;
    border-radius: 30px;
}

/* 이미지 그리드로 나열 */
.imgLine {
    width:1280px;
    min-height:828px;
    margin-top:88px;
    display: grid;
    grid-template-columns: 378px 378px 378px;
    grid-gap:72px;
}


/* imgLine의 이미지들의 크기와 테두리 설정 */
.imgElement {
    width:378px;
    height: 378px;
    border-radius: 30px;
}

/* subs의 메일 작성 부분 앞의 편지모양 아이콘 */
.mainEmailImg {
    position: absolute;
    width:24px;
    height: 24px;
    top: 18px;
    left:28px;
}

/* subs의 뒤에 있는 큰 고양이 배경 */
.mainBackgroundCatImg {
    position:relative;
    z-index: -1;
    width: 100%;
    height:340px;
}

/* 메인 부분 텍스트 설정 */

/* firstPsec의 첫번째 제목 단락 */
.mainHead1 {
    font-family: 'Pretendard-Bold';
    width:510px;
    height: 135px;
    font-size:36px;
    line-height: 45px;
}

/* secondPSec의 두번째 제목 단락 */
.mainHead2 {
    font-family: 'Pretendard-Bold';
    width:1280px;
    height: 60px;
    font-size: 46px;
    line-height: 60px;
    text-align: center;
    color: #D97652;
}

/* firstPsec의 내용 단락 */
.mainP1 {
    font-family: 'Pretendard-Regular';
    width:510px;
    height:40px;
    font-size: 16px;
    line-height: 20px;
}

/* secondPsec의 내용 단락 */
.mainP2 {
    font-family: 'Pretendard-Regular';

    width:1280px;
    height: 42px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

/* second의 폰트가 다른 부분의 설정 */
.mainP2Dummy {
    font-family: 'Pretendard-Bold';
    color: #D97652;
}

/* mapSec의 첫번째 단락 */
.mainP3 {
    width:263px;
    height: 45px;
    font-family: 'Pretendard-Bold';
    font-size: 36px;
    line-height: 45px;
}

/* mapSec의 두번째 단락 */
.mainP4 {
    width: 395px;
    height: 20px;
    margin-top: 20px;
    font-family: 'Pretendard-Regular';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #606367;
}

/* Show more 버튼의 위 글과 버튼의 영역 */
.contSec {
    width: 1280px;
    height:110px;
    margin-top:100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Pretendard-Regular';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    align-items: center;
}


/* 기타 메인 설정 */

/* show more 버튼 */
.btnContinue {
    width: 140px;
    height: 50px;
    border-radius: 40px;
    background-color: #D97652;
    border: none;
    font-family: 'Pretendard-Regular';
}

/* 중간의 밑줄 */
.line {
    width:1280px;
    height: 1px;
    margin-top: 80px;
    background-color:#C4C4C4;
}

/* mapSec의 카카오 맵 세부 영역 */
.maps{
    z-index:0;
    margin-top:48px;
    width:1278px;
    height:520px;
}

/* 스크롤을 맨 위로 올리는 hover 기능이 적용된 버튼, 좌측 하단에 위치하며 스크롤시에 비활성화됨 */
.btnUp {
    position:fixed;
    width:50px;
    height:50px;
    top:90%;
    left:95%;
    opacity: 0.4;
    z-index: 1;
    border: none;
    background-color:transparent;
}

.btnUp:hover {
    position:fixed;
    width:50px;
    height:50px;
    top:90%;
    left:95%;
    border: none;
    z-index: 1;
    opacity: 1;
    background-color:transparent;
}


/* SubScribe 영역 */
.subsSec {
    position: relative;
    width: 1280px;
    height:201px;
    display: flex;
    top:100px;
    justify-content: space-between;
    background-color: #263140;
    border-radius: 30px;
}

/* Subscribe 영역의 이메일 작성 전체 영역 */
.subsEmail {
    position: relative;
    width:530px;
    height:60px;
    border-radius: 60px;
    background-color: white;
}

/* subscribe 버튼 렌더링 */
.btnSubs{
    position: absolute;
    width: 135px;
    height: 50px;
    top:5px;
    left:389px;
    border-radius: 40px;
    background-color: #D97652;
    border: none;
    font-family: 'Pretendard-Regular';
}

/* subscribe의 이메일 input 설정 */
.subsInput {
    position: absolute;
    font-family: 'Pretendard-Regular';
    width: 290px;
    height: 20px;
    top:20px;
    left:68px;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
    border: none;
    outline: none;
}

/* subscribe 영역의 글 단락 전체 영역, email 영역과의 사이를 벌리기 위한 영역 설정 */
.subsText {
    width: 471px;
    height: 99px;
    margin-top: 51px;
    margin-left: 58px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

/* subscribe 영역의 이메일 전체 영역 */
.subsEmailArea {
    width:588px;
    height:inherit;
    align-content: center;
}

/* subscribe 영역의 첫번째 단락 */
.subsHead {
    width:448px;
    height:45px;
    font-family: 'Pretendard-Bold';
    font-size:36px;
    line-height: 45px;
    color:white;
}

/* subscribe 영역의 두번째 단락 */
.subsDetails {
    width:471px;
    height:36px;
    top: 113px;
    left: 58px;
    font-family: 'Pretendard-Regular';
    font-size:14px;
    line-height: 18px;
    color:white;
}

/* 모달 영역 */
.modalSec {
    display: none;
    z-index: 2;
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width: 100vw;
    background: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
}

/* modal의 배경 이미지 설정 */
.modalBody{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:600px;
    height:400px;
}

/* modal의 첫 단락 위의 작은 고양이 이미지 */
.modalCat {
    position:absolute;
    top:60px;
    left:245px;
}

/* modal 닫는 버튼 */
.btnModal{
    position:absolute;
    width:183px;
    height: 50px;
    top:310px;
    left:205px;
    border-radius: 40px;
    background-color: #D97652;
    border:none;
}

/* modal의 첫 단락 */
.modalText1 {
    position:absolute;
    width: 212px;
    height: 46px;
    top: 196px;
    left: 194px;
    color:#D97652;
    font-family: 'Pretendard-Bold';
    font-size: 36px;
    line-height: 45px;
    text-align: center;
}
/* modal의 두번째 단락 */

.modalText2 {
    position:absolute;
    width: 365px;
    height: 18px;
    top: 254px;
    left: 108px;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}