/* Main 스타일 */

.mainFirstArea {
    margin-top: 80px;
    width: 1280px;
    justify-content: space-between;
    gap:110px;
    display: flex;
    flex-direction:row;
}

.mainP1Area {
    margin-top: 92px;
    width: 510px;
    height:205px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap:30px;
}

/* Main 이미지 설정 */

.imgMainCat {
    height: 390px;
    width: 660px;
    border-radius: 30px;
}
.mainImgLine1 {
    width:1280px;
    height:828px;
    margin-top:88px;
    display: grid;
    grid-template-columns: 378px 378px 378px;
    grid-gap:72px;
}
.mainImgLine2 {
    width:1280px;
    height:828px;
    margin-top:72px;
    display: none;
    grid-template-columns: auto auto auto;
    grid-gap:72px;
}

.lineImg {
    width:378px;
    height: 378px;
    border-radius: 30px;
}

.mainEmailImg {
    position: absolute;
    width:24px;
    height: 24px;
    top: 18px;
    left:28px;
}

.mainBackgroundCatImg {
    z-index: -1;
    width: 100%;
    height:340px;
}

/* 메인 부분 텍스트 설정 */

.mainP1 {
    font-family: 'Pretendard-Bold';
    width:510px;
    height: 135px;
    font-size:36px;
    line-height: 45px;
}

.mainP2 {
    font-family: 'Pretendard-Regular';
    width:510px;
    height:40px;
    font-size: 16px;
    line-height: 20px;
}
.mainP3 {
    font-family: 'Pretendard-Regular';
    margin-top: 40px;
    width:1280px;
    height: 42px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.mainP3Dummy {
    font-family: 'Pretendard-Bold';
    color: #D97652;
}

.mainP4 {
    width:263px;
    height: 45px;
    margin-top: 68px;
    font-family: 'Pretendard-Bold';
    font-size: 36px;
    line-height: 45px;
}

.mainP5 {
    width: 395px;
    height: 20px;
    margin-top: 20px;
    font-family: 'Pretendard-Regular';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #606367;
}

.mainPContinue {
    width: 1280px;
    height:110px;
    margin-top:100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Pretendard-Regular';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    align-items: center;
}


.mainHead {
    font-family: 'Pretendard-Bold';
    margin-top: 120px;
    width:1280px;
    height: 60px;
    font-size: 46px;
    line-height: 60px;
    text-align: center;
    color: #D97652;
}

/* 기타 메인 설정 */

.continueButton {
    width: 140px;
    height: 50px;
    border-radius: 40px;
    background-color: #D97652;
    border: none;
    font-family: 'Pretendard-Regular';
}

.closeButton {
    position:absolute;
    width: 140px;
    height: 50px;
    top:2648px;
    left:568.5px;
    border-radius: 40px;
    background-color: #D97652;
    border: none;
    display: none;
    font-family: 'Pretendard-Regular';
}


.mainLine {
    width:1280px;
    height: 1px;
    margin-top: 80px;
    background-color:#C4C4C4;
}

.mainMaps{
    z-index:0;
    margin-top:48px;
    width:1278px;
    height:520px;
}


/* 메인 SubScribe */

.mainSubscribeArea {
    position: relative;
    width: 1280px;
    height:201px;
    display: flex;
    top:100px;
    justify-content: space-between;
    background-color: #263140;
    border-radius: 30px;
}

.mainSubscribeEmail {
    position: relative;
    width:530px;
    height:60px;
    border-radius: 60px;
    background-color: white;
}

.mainSubscribeButton{
    position: absolute;
    width: 135px;
    height: 50px;
    top:5px;
    left:389px;
    border-radius: 40px;
    background-color: #D97652;
    border: none;
    font-family: 'Pretendard-Regular';
}

.mainSubscribeInput {
    position: absolute;
    font-family: 'Pretendard-Regular';
    width: 290px;
    height: 20px;
    top:20px;
    left:68px;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
    border: none;
    outline: none;
}

.mainSubText {
    width: 471px;
    height: 99px;
    margin-top: 51px;
    margin-left: 58px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.mainSubEmailArea {
    width:588px;
    height:inherit;
    align-content: center;
}

.mainSubscribeHead {
    width:448px;
    height:45px;
    font-family: 'Pretendard-Bold';
    font-size:36px;
    line-height: 45px;
    color:white;
}

.mainSubscribeDetails {
    width:471px;
    height:36px;
    top: 113px;
    left: 58px;
    font-family: 'Pretendard-Regular';
    font-size:14px;
    line-height: 18px;
    color:white;
}

/* 모달 관련 */

.mainSubscribeModalBack {
    display: none;
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width: 100vw;
    background: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
}

.mainSubscribeModalBody{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:600px;
    height:400px;
}

.mainSubscribeModalCat {
    position:absolute;
    top:60px;
    left:245px;
}

.mainSubscribeModalButton{
    position:absolute;
    width:183px;
    height: 50px;
    top:310px;
    left:205px;
    border-radius: 40px;
    background-color: #D97652;
    border:none;
}

.mainSubscribeModalText1 {
    position:absolute;
    width: 212px;
    height: 46px;
    top: 196px;
    left: 194px;
    color:#D97652;
    font-family: 'Pretendard-Bold';
    font-size: 36px;
    line-height: 45px;
    text-align: center;
}
.mainSubscribeModalText2 {
    position:absolute;
    width: 365px;
    height: 18px;
    top: 254px;
    left: 108px;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}